<div class="library main container">
    <h1>Library</h1>
    <!--Planning on using https://www.w3schools.com/bootstrap/bootstrap_filters.asp to apply jQuery filter-->
    <div id="filter-menu">
        <div class="row ">
            <div class="col-3">
                <button class="btn lib-btn text-secondary active" data-filter="0"> Show all</button>
            </div>
            <div class="col-3">
                <button class="btn lib-btn text-secondary" data-filter="1"> Books</button>                
            </div>
            <div class="col-3">
                <button class="btn lib-btn text-secondary" data-filter="2"> Childrens Books</button>
            </div>
            <div class="col-3">
                <button class="btn lib-btn text-secondary" data-filter="3"> Podcasts</button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn lib-btn text-secondary" data-filter="4"> Articles</button>
            </div>
            <div class="col-3">
                <button class="btn lib-btn text-secondary" data-filter="5"> Films</button>
            </div>
            <div class="col-3">
                <button class="btn lib-btn text-secondary" data-filter="6"> Short Films</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container library-content">
        <div id="filter-container" class="row">
            <div class="col-lg-4 col-md-6 filterDiv books" data-category="1" data-sort="value">
                {{books}}

                {{childrensBooks}}
                {{#each books}}
                    <div class="item text-center">
                        <h3>{{books.title}}</h3>
                        <p>By {{author}}</p>
                        <p>Genre: {{genre}}</p>
                        <p id="purchase-link"><a href="{{link1}}">Purchase</a></p>
                        <p id="amazon-link"><a href="{{link2}}">Amazon</a></p>
                    </div>
                {{/each}}
            </div>
            <div class="col-lg-4 col-md-6 filterDiv childrensBooks" data-category="2" data-sort="value">
                {{#each childrensBooks}}
                    <div class="item text-center">
                        <h3>{{title}}</h3>
                        <p>By {{author}}</p>
                        <p id="purchase-link"><a href="{{link1}}">Purchase</a></p>
                        <p id="amazon-link"><a href="{{link2}}">Amazon</a></p>
                    </div>
                {{/each}}
            </div>
            <div class="col-lg-4 col-md-6 filterDiv podcasts" data-category="3" data-sort="value">
                {{#each podcasts}}
                    <div class="item text-center">
                        <h3>{{title}}</h3>
                        <p id="purchase-link"><a href="{{link1}}">Listen</a></p>
                        <p id="amazon-link"><a href="{{link2}}">Amazon</a></p>
                    </div>
                {{/each}}
            </div>
            <div class="col-lg-4 col-md-6 filterDiv articles" data-category="4" data-sort="value">
                {{#each articles}}
                    <div class="item text-center">
                        <h3>{{title}}</h3>
                        <p>By {{author}}</p>
                        <p id="purchase-link"><a href="{{link}}">Read</a></p>
                    </div>
                {{/each}}
            </div>
            <div class="col-lg-4 col-md-6 filterDiv films" data-category="5" data-sort="value">
                {{#each toWatch}}
                    <div class="item text-center">
                        <h3>{{title}}</h3>
                        <p>Found on {{streaming_service}}</p>
                        <p id="purchase-link"><a href="{{link}}">Watch</a></p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<!--js files-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/library.js"></script>
