<div class="library main container">
    <h1>My Messages</h1>
    {{#each messages}}
        <div class="row">
            <div class="col-md-4">
                From: {{User.dataValues.username}}
            </div>
            <div class="col-md-4">
                RE: {{Help.dataValues.title}}
            </div>
            <div class="col-md-4">
                Date: {{dataValues.createdAt}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                {{dataValues.body}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                    <button class="connect btn btn-primary" onclick="location.href='/messages/compose/{{dataValues.fromId}}/{{dataValues.helpId}}/{{dataValues.id}}'">Reply</button>
            </div>
        </div>
        <hr />
        <!-- If someone can style this -->
    {{/each}}
</div>
