<div class="container petition-box">
    <div class="box text-center">
        <h1>Petitions</h1>
        <h3>Submit a petition.</h3>
    </div>
    <div class="row">

        <div class="col-md-12 col-sm-6 text-center" id="filter-menu">
            <div class="petition-login-protected">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" id="petition-post"
                    onclick="window.location='/users/login'">
                    Login/Register
                </button>
            </div>
        </div>
    </div>

    <!-- Form Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Request petition</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="petitionForm" method="POST" action="/petitions">
                        <div class="form-group">
                            <label for="title">Name Your Petition:</label>
                            <input placeholder="Name" type="text" class="form-control" id="title" name="title">
                            <br />
                            <label for="body">What's Your Petition About?</label>
                            <textarea placeholder="Describe the purpose of this petition." class="form-control"
                                rows="10" id="body" name="body"></textarea>
                            <input type="textfield" id="petition_userid" name="petition_userid" />
                            <input type="textfield" id="petition_username" name="petition_username" />

                            <label for="goal">How Many Signatures Are You Trying To Acquire?</label>
                            <input placeholder="Goal #" type="text" class="form-control" id="goal" name="goal">
                            <br />
                        </div>
                        <div class=" modal-footer">
                            <button type="submit" class="btn btn-primary submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 petition-container">
            {{#each data}}
            <div class="card">
                <div class="card-header">
                    <h4>Title: {{dataValues.title}}</h4>
                    <p>Created: {{dataValues.createdAt}}</p>
                    <p id="petitionName">Username: {{dataValues.username}}</p>
                </div>
                <div class="card-body">
                    <p>Description: {{dataValues.body}}</p>
                    <button type="button" class="btn btn-primary signature" data-toggle="modal" data-target="#signPetition{{dataValues.id}}">Sign!</button>
                </div>


                <div class="progress w-75 m-4">
                  <div class="progress-bar" role="progressbar" style="width: {{dataValues.sigCount}}%;" aria-valuenow="{{dataValues.sigCount}}" aria-valuemin="0" aria-valuemax="{{dataValues.goal}}"></div>
                  {{dataValues.sigCount}} / {{dataValues.goal}}
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>

{{#each data}}
// Sign Modals
<!-- Form Modal -->
    <div class="modal fade" id="signPetition{{dataValues.id}}" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Sign Now!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="petitionForm" method="POST" action="/sign">
                        <div class="form-group">
                        Are you sure?
                        <input type="textfield" style="display:none" id="signature_petitions_id" name="signature_petitions_id" value="{{dataValues.id}}" />
                        </div>
                        <div class=" modal-footer">
                            <button type="submit" class="btn btn-primary submit">Sign</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{{/each}}




<!-- SCRIPT FOR MODALS -->
<script>
    $(function () {
        $('.btn[data-toggle=modal]').on('click', function () {
            var $btn = $(this);
            var currentDialog = $btn.closest('.modal-dialog'),
                targetDialog = $($btn.attr('data-target'));;
            if (!currentDialog.length)
                return;
            targetDialog.data('previous-dialog', currentDialog);
            currentDialog.addClass('aside');
            var stackedDialogCount = $('.modal.in .modal-dialog.aside').length;
            if (stackedDialogCount <= 5) {
                currentDialog.addClass('aside-' + stackedDialogCount);
            }
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>